body{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500,900;
    font-size: 13px;
}
.li{
    display: flex;
}

.li div{
    margin-left: 10px;
    height: 100px;
    width: 100px;
    margin-bottom: 7px;
    background-color:;
}

#left {
    position: relative;
    background-color: brown;
    height: 207px;
    width: 100px;
    top: -214px;
    right: 140px;
    float: right;
}
/* desisgn for small box */
.li #small{
    height: 300px;
    width: 300px;
}


/* design for first big box */
.li #big{
    width: 600px;
    height: 300px;
}
.li .bigbox1{
    background-color: hsl(263, 55%, 52%);
    padding: 22px;
    border-radius: 22px;
}

.li .bigbox1 .img-txt{
    display: flex;
    margin-top: 10px;
    width: 800px;

}

.li .bigbox1 .img-txt img{
    border-radius: 50px;

}
.li .bigbox1 .img-txt h4,h2{
    color: aliceblue;
    font-weight: bolder;
}
.li .bigbox1 h2{
    position: relative;
    top: -30px;
    font-size: 22px;
    letter-spacing: 0.5px;
}
.li .bigbox1 p{
    font-weight: lighter;
    color:hsl(0, 0%, 81%);
    position: relative;
    top: -17px;
}
.li .bigbox1 .img-txt #quote{
    margin-left: 220px;
    position: relative;
    height: 150px;
    top: -15px;
}
.small1{
    background-color:  hsl(217, 19%, 35%);
    height: 300px;
    border-radius: 22px;
    padding: 22px;
}
.small1 .img-txt{
    display: flex;
    margin-top: 10px;
    width: 400px;
}
.small1 .img-txt img{
    border-radius: 50px;

}
.small1 .img-txt h4,h2{
    color: aliceblue;
    font-weight: bolder;
}
.small1 p{
    font-weight: lighter;
    color:hsl(0, 0%, 81%);
    position: relative;
    top: -17px;
}
#pp{
    top: 42px;
}